/* Reset básico para garantir consistência */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Corpo da página */
body {
    font-family: "Chakra Petch", sans-serif;
    background: linear-gradient(to top, #58a3ad, #07224b);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Tema de fundo específico */
body.theme-games {
    background: url('path/to/games-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.theme-recipes {
    background: url('path/to/recipes-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.theme-courses {
    background: url('path/to/courses-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.theme-books {
    background: url('path/to/books-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Cabeçalho */
header {
    margin-bottom: 3rem;
}

/* Estilo para o contêiner pai */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    /* Garantir que o main ocupe pelo menos 60% da altura da viewport */
}

/* Contêiner do título */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

/* Título */
h1.title {
    font-size: 2rem;
    color: #000;
    letter-spacing: 0.4rem;
    margin: 0;
    font-size: 2rem;
    /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    /* Adicione negrito se desejar */
    color: transparent;
    /* Torne o texto transparente para que o gradiente seja visível */
    background: linear-gradient(to right, #e9ae9f, #e2aa69, #ff961d);
    /* Defina o gradiente linear desejado */
    -webkit-background-clip: text;
    /* Garante que o gradiente seja aplicado ao texto */
    background-clip: text;
    /* Garante compatibilidade com navegadores não WebKit */
    text-align: center;
    /* Centraliza o texto, se necessário */
}

/* Imagem do título */
.img {
    width: 70px;
    margin-top: 1rem;
}

/* Container de escolha */
.container_escolha {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    height: 250px;
    max-width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
}

/* Opções dentro do container */
.caixinha {
    width: 70px;
    padding: 10px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.caixinha:hover {
    background-color: black;
    color: white;
    border-color: wheat;
}

/* Pesquisa */
.pesquisa {
    display: none;
    margin-top: 2rem;
}

.search-bar-visible {
    display: block;
}

.pesquisa input {
    width: 300px;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.pesquisa button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #30475E;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer;
}

.pesquisa button:hover {
    background-color: #54728f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para os resultados da pesquisa */
.resultados-pesquisa {
    width: 25rem;
    height: 80vh;
    overflow-y: auto;
    margin-top: 2rem;
    margin: auto;
    padding: 1rem;
    border-radius: 0.6rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra leve */
}

/* Imagem do item de resultado */
.imagem-resultado {
    max-width: 150px;
    /* Garante que a imagem não ultrapasse a largura do contêiner */
    margin-bottom: 0.5rem;
}

/* Item de resultado */
.item-resultado {
    background: #FFFFFF;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: #222831;
}

.item-resultado a {
    text-decoration: none;
    color: #30475E;
}

.item-resultado a:hover {
    text-decoration: underline;
}

.descricao-meta {
    color: #45474B;
    margin: 0.5rem 0;
}

/* Rodapé */
footer {
    background-color: #F5F7F8;
    color: #45474B;
    text-align: center;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    margin-top: auto;
}

@keyframes movimentarBolha {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 100%;
        left: 0;
    }

    50% {
        top: 100%;
        left: 100%;
    }

    75% {
        top: 0;
        left: 100%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.bolha {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(163, 215, 252, 0.5);
    border: 1px solid rgb(240, 236, 236);
    border-radius: 50%;
    animation: movimentarBolha 10s infinite;
    pointer-events: none;
    /* Garante que a bolha não interfere na interação do usuário */
    z-index: 10;
    /* Coloca a bolha acima de outros elementos */
}